<html>
  <head>
    <style>
      th {
           text-align: left;
         }
      ul {
           list-style-type: none;
         }
    </style>
  </head>
  <body>
    At Time: ${curtime}</br>
    From: ${froma}</br>
    To: ${to}</br>
    Route: ${route}</br>
    Distance: ${distance}</br>
    Time: ${time}</br>
  </body>
</html>
